$jcy-black : #393939;
$jcy-orange : #FF7F50;
$header-height : 58px;
$header-margin : 90px;
body {
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif
}
