<div class="container-fluid">

    <h3>
        绑定卡
    </h3>

    <div ui-view style="margin-top: 15px;"></div>

    <div>
        <form class="form-horizontal" name="updateForm">
            <div class="form-group">
                <label class="col-sm-2 control-label">卡号</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  ng-model="allInPayAct" value="" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"> 产品号</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  ng-model="allInPayProd" value="" required>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">机构号</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control"  ng-model="allInPayBrh" value="" required>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-disabled="updateForm.$invalid" ng-click="update()" class="btn btn-info">提交</button>
                    <!--<button ng-if="(allInPayAct != 0)" type="submit" ng-disabled="updateForm.$invalid" ng-click="unbundling()" class="btn btn-danger">解绑</button>-->
                </div>
            </div>
        </form>
    </div>

</div>

