<div class="left-panel" ng-style="{'width':leftWidth}" ng-controller="LeftPanelController">
    <div class="menu-container">
        <ul class="left_menu_module">
            <li>
                <a class="left_menu_item">
                    <i class="glyphicon glyphicon-triangle-right" style="cursor: pointer" title="店铺管理"></i>
                <span class="collapse_hide" style="cursor: pointer" ng-show="leftShow == true">
                    店铺管理
                </span>
                </a>
            </li>
            <ul class="submenu">
                <div class="expand-triangle">
                   <li>
                       <a class="left_menu_item" ng-class="{active:isActive('/shopCreate')}" ui-sref="shopCreate">
                           新建店铺
                       </a>
                   </li>
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/shopManage')}" ui-sref="shopManage">
                            管理店铺
                        </a>
                    </li>
                </div>
            </ul>
            <!--<li>-->
                <!--<a class="left_menu_item" ng-class="{active:isActive('/shopCreate')}" ui-sref="shopCreate">-->
                    <!--<i class="glyphicon glyphicon-plus" title="新建店铺"></i>-->
                <!--<span class="collapse_hide" ng-show="leftShow == true">-->
                    <!--新建店铺-->
                <!--</span>-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a class="left_menu_item">
                    <i class="glyphicon glyphicon-triangle-right" style="cursor: pointer" title="会员管理"></i>
                <span class="collapse_hide" style="cursor: pointer" ng-show="leftShow == true">
                    会员管理
                </span>
                </a>
            </li>
            <ul class="submenu">
                <div class="expand-triangle">
                <!--<li>-->
                    <!--<a class="left_menu_item" ng-class="{active:isActive('/memberCreate')}" ui-sref="memberCreate">-->
                        <!--新增会员-->
                    <!--</a>-->
                <!--</li>-->
                <li>
                    <a class="left_menu_item" ng-class="{active:isActive('/memberManage')}" ui-sref="memberManage">
                        管理会员
                    </a>
                </li>
                </div>
            </ul>
            <!--<li>-->
                <!--<a class="left_menu_item" ng-class="{active:isActive('/memberCreate')}" ui-sref="memberCreate">-->
                    <!--<i class="glyphicon glyphicon-user" title="新增会员"></i>-->
                <!--<span class="collapse_hide" ng-show="leftShow == true">-->
                    <!--新增会员-->
                <!--</span>-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a class="left_menu_item">
                    <i class="glyphicon glyphicon-triangle-right" style="cursor: pointer" title="商家列表Banner(App)"></i>
                <span class="collapse_hide" style="cursor: pointer" ng-show="leftShow == true">
                    商家列表Banner(App)
                </span>
                </a>
            </li>
            <ul class="submenu">
                <div class="expand-triangle">
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/bannerManage')}" ui-sref="bannerManage">
                            banner管理
                        </a>
                    </li>
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/bannerAdd')}" ui-sref="bannerAdd">
                            banner新增
                        </a>
                    </li>
                </div>

            </ul>
            <li>
                <a class="left_menu_item" ng-class="{active:isActive('/orderCount')}" ui-sref="orderCount">
                    <i class="glyphicon glyphicon-list-alt" title="订单统计"></i>
                <span class="collapse_hide" ng-show="leftShow == true">
                    订单统计
                </span>
                </a>
            </li>
            <li>
                <a class="left_menu_item">
                    <i class="glyphicon glyphicon-triangle-right" style="cursor: pointer" title="会议室"></i>
                <span class="collapse_hide" style="cursor: pointer" ng-show="leftShow == true">
                    会议室
                </span>
                </a>
            </li>
            <ul class="submenu">
                <div class="expand-triangle">
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/meetingList')}" ui-sref="meetingList">
                            会议室列表
                        </a>
                    </li>
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/meetingAdd')}" ui-sref="meetingAdd">
                            会议室新增
                        </a>
                    </li>
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/meetingOrder')}" ui-sref="meetingOrder">
                            会议室订单
                        </a>
                    </li>
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/contactSystem')}" ui-sref="contactSystem">
                            联系方式设置
                        </a>
                    </li>
                </div>
            </ul>
            <li>
                <a class="left_menu_item">
                    <i class="glyphicon glyphicon-triangle-right" style="cursor: pointer" title="商务策划"></i>
                <span class="collapse_hide" style="cursor: pointer" ng-show="leftShow == true">
                    商务策划
                </span>
                </a>
            </li>
            <ul class="submenu">
                <div class="expand-triangle">
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/orderList')}" ui-sref="orderList">
                            订单列表
                        </a>
                    </li>
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/categoryManage')}" ui-sref="categoryManage">
                            分类管理
                        </a>
                    </li>
                </div>
            </ul>
            <li>
                <a class="left_menu_item" ng-class="{active:isActive('/financing')}" ui-sref="financing">
                    <i class="glyphicon glyphicon-usd" title="投融资"></i>
                <span class="collapse_hide" ng-show="leftShow == true">
                    投融资
                </span>
                </a>
            </li>
            <li>
                <a class="left_menu_item">
                    <i class="glyphicon glyphicon-triangle-right" style="cursor: pointer" title="活动管理"></i>
                <span class="collapse_hide" style="cursor: pointer" ng-show="leftShow == true">
                    活动管理
                </span>
                </a>
            </li>
            <ul class="submenu">
                <div class="expand-triangle">
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/activityAdd')}" ui-sref="activityAdd">
                            新增活动
                        </a>
                    </li>
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/activityManage')}" ui-sref="activityManage">
                            活动列表
                        </a>
                    </li>
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/activityOrder')}" ui-sref="activityOrder">
                            活动订单
                        </a>
                    </li>
                </div>
            </ul>
            <li>
                <a class="left_menu_item">
                    <i class="glyphicon glyphicon-triangle-right" style="cursor: pointer" title="园区资讯"></i>
                <span class="collapse_hide" style="cursor: pointer" ng-show="leftShow == true">
                    园区资讯
                </span>
                </a>
            </li>
            <ul class="submenu">
                <div class="expand-triangle">
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/parkInfoAdd')}" ui-sref="parkInfoAdd">
                            新增资讯
                        </a>
                    </li>
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/parkList')}" ui-sref="parkList">
                            资讯列表
                        </a>
                    </li>
                </div>
            </ul>
            <li>
                <a class="left_menu_item">
                    <i class="glyphicon glyphicon-triangle-right" style="cursor: pointer" title="企业秀"></i>
                <span class="collapse_hide" style="cursor: pointer" ng-show="leftShow == true">
                    企业秀
                </span>
                </a>
            </li>
            <ul class="submenu">
                <div class="expand-triangle">
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/companyShowAdd')}" ui-sref="companyShowAdd">
                            新增企业秀
                        </a>
                    </li>
                    <li>
                        <a class="left_menu_item" ng-class="{active:isActive('/companyShowList')}" ui-sref="companyShowList">
                            企业秀列表
                        </a>
                    </li>
                </div>
            </ul>

            <li>
                <a class="left_menu_item" ng-class="{active:isActive('/systemSetting')}" ui-sref="systemSetting">
                    <i class="glyphicon glyphicon-cog" title="系统设置"></i>
                <span class="collapse_hide" ng-show="leftShow == true">
                    系统设置
                </span>
                </a>
            </li>


        </ul>
        <div class="hr_black" ></div>
    </div>
    <!--<ul class="left_menu_footer"  ng-show="leftShow == true">-->
        <!--<div class="hr_black" ></div>-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/webapp/#/help" target="_blank">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="glyphicon glyphicon-question-sign"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li >&ndash;&gt;-->
        <!--<li>-->
            <!--<a href="javascript:;" ng-click="hide_left_panel()">-->
                <!--<i class="glyphicon glyphicon-step-backward" style="margin-left: 80px;"></i>-->
            <!--</a>-->

        <!--</li >-->
        <!--<li>-->
            <!--<a href="javascript:;" ng-click="hide_left_panel()">-->
                <!--<i class="glyphicon glyphicon-step-backward" style="margin-left: 80px;"></i>-->
            <!--</a>-->
        <!--</li>-->

    </ul>

        <!--</li>-->

    <!--</ul>-->

    <!--<ul class="left_menu_footer" ng-show="leftShow == false">-->
        <!--<div class="hr_black" ></div>-->
        <!--<li>-->
            <!--<a href="javascript:;" ng-click="show_left_panel()">-->
                <!--<i class="glyphicon glyphicon-step-forward" style="margin-left: 5px;" title="展开"></i>-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->

</div>